
body {
  background-color: #111;
  color: #fff;
  font-family: sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}
.welcome {
  font-size: 26px;
  margin-top: 30px;
}
.brand {
  color: #ffc400;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  height: 100vh;
}
.card {
  background: #1a1a1a;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  width: 280px;
  box-shadow: 0 0 15px #ff8c00;
}
input {
  display: block;
  width: 90%;
  margin: 10px auto;
  padding: 10px;
  border: none;
  border-radius: 5px;
}
button {
  background-color: orange;
  color: white;
  border: none;
  padding: 10px 20px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}
.info-cards {
  display: flex;
  gap: 15px;
  margin-top: 30px;
  flex-wrap: wrap;
  justify-content: center;
}
.neon-border {
  border: 2px solid #ff6a00;
  box-shadow: 0 0 8px #ff6a00, 0 0 15px #ff6a00;
}
